# Secret key for JWT and Flask Sessions
SECRET_KEY=dev-secret-key-dslfa
JWT_SECRET_KEY=jwt-dev-secret

# Database config
DATABASE_URL=sqlite:///../dslfa.db

# Vector DB Dir
CHROMA_DB_DIR=chroma_db

# AI API Keys
# Gemini is used for Embeddings and Generation
GOOGLE_API_KEY=your_google_api_key_here

# External Knowledge — Tavily API for web search
TAVILY_API_KEY=your_tavily_api_key_here
