Flask==3.0.3
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
pypdf2==3.0.1
langchain==0.2.14
langgraph==0.2.2
langchain-google-genai==1.0.8
chromadb==0.5.5
python-pptx==1.0.2
python-dotenv==1.0.1
langchain-ollama==0.1.1
langchain-community==0.2.16
langchain-chroma==0.1.3
